body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 900px;
    flex-direction: column;
    /* background-color: yellow; */
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* justify-content: center;
    align-items: center; */
    gap: 4px;
    height: 300px;
    width: 300px;
    background-color: black;
}

.head {
    color: gold;
    margin-bottom: 16px;
    font-size:24px;
}